# don't include prebuilt ostagram method
./ostagram-develop/**


# don't include materials science prebuilt method
./mat2vec-master/**


# exclude existing double pendulum animation
./double_pendulum_matplotlib.py

# exclude desired files from TUB project
./Data_Projects/Patient_Choice/05_INKAR/**
./Data_Projects/Patient_Choice/Intermediate_Files/tt_plz*
./Data_Projects/Patient_Choice/Results/preference_scores_RPE*